<style>
    .newspaper {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }

</style>
<h3>Video</h3>
<video autoplay="" class="l_o_h" data-automation="VideoPlayer_video_video" loop="" muted="" playsinline=""
       poster="https://ak8.picdn.net/shutterstock/videos/20534788/thumb/4.jpg">
    <source src="https://ak8.picdn.net/shutterstock/videos/20534788/preview/stock-footage-beautiful-woman-with-baby-daughter-shopping-in-supermarket-young-mother-chooses-food-for-their.webm"
            type="video/webm">
    <source src="https://ak8.picdn.net/shutterstock/videos/20534788/preview/stock-footage-beautiful-woman-with-baby-daughter-shopping-in-supermarket-young-mother-chooses-food-for-their.mp4"
            type="video/mp4">
</video>

<h3>Canvas</h3>
<canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;">

</canvas>
<h3>Multi column</h3>
<div class="newspaper">
    A supermarket is a self-service shop offering a wide variety of food and household products, organized into
    aisles. It is larger and has a wider selection than earlier grocery stores, but is smaller and more limited in
    the range of merchandise than a hypermarket or big-box market.

    A larger full-service supermarket combined with a department store is sometimes known as a hypermarket. Other
    services may include those of banks, cafés, childcare centres/creches, insurance (and other financial services),
    Mobile Phone services, photo processing, video rentals, pharmacies or petrol stations. If the eatery in a
    supermarket is substantial enough, the facility may be called a "grocerant", a portmanteau of "grocery" and
    "restaurant".[1]

    The supermarket typically comprises meat, fresh produce, dairy, and baked goods aisles, along with shelf space
    reserved for canned and packaged goods as well as for various non-food items such as kitchenware, household
    cleaners, pharmacy products and pet supplies. Some supermarkets also sell a variety of other household products
    that are consumed regularly, such as alcohol (where permitted), medicine, and clothes, and some stores sell a
    much wider range of non-food products: DVDs, sporting equipment, board games, and seasonal items (e.g.,
    Christmas wrapping paper in December).

    The traditional supermarket occupies a large amount of floor space, usually on a single level. It is usually
    situated near a residential area in order to be convenient to consumers. The basic appeal is the availability of
    a broad selection of goods under a single roof, at relatively low prices. Other advantages include ease of
    parking and frequently the convenience of shopping hours that extend into the evening or even 24 hours of the
    day. Supermarkets usually allocate large budgets to advertising, typically through newspapers. They also present
    elaborate in-shop displays of products.
</div>