<div class="page-header">
    Order
</div>
<div class="form-group">
    <label for="">Card number:</label>
    <input type="text" class="form-control" [(ngModel)]="order.card_digits">
</div>

<div class="form-group">

    <div class="checkbox">
        <label><input type="checkbox" [checked]="order.is_bitcoin" (change)="onBitcoinPressed()">Pay with bitcoin (1bit = {{rate}})</label>
    </div>
</div>

<div class="form-group">

    <button class="btn btn-success" (click)="pay()"> Pay</button>
</div>

