<style>
    #map_canvas {
        height: 500px;
        width: 500px;
        margin: 0px;
        padding: 0px
    }
</style>
<aside>
    Aside
</aside>
<section>
    <h2>Home</h2>
    <div class="pull-right">
        <div class="fb-like" data-href="https://www.facebook.com/Yarden-Store-550540125296291/" data-layout="standard"
             data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </div>
<div style="clear: both;"></div>
    <app-notifications #notification [alertClass]="alertClass" [alertMessage]="alertMessage"
                       [alertType]="alertType"></app-notifications>
    <div class="alert alert-success" [hidden]="!addedSuccess">
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>
</section>
<section>
    <div class="row">
        <div class="col-sm-3">
            <label>Search by name</label>
            <input [(ngModel)]="searchText" placeholder="" class="form-control"/>
        </div>
        <div class="col-sm-3">
            <label>Search items less then price</label>
            <input type="number" [(ngModel)]="searchPrice" placeholder="" class="form-control"/>
        </div>
        <div class="col-sm-3">
            <label>Search items by category</label>
            <input type="text" [(ngModel)]="searchCat" placeholder="" class="form-control"/>
        </div>
    </div>
</section>
<div class="row">

    <div class="col-sm-6 col-md-4"
         *ngFor="let p of products | filter : searchText | filterCat : searchCat | filterByPrice: searchPrice">
        <div class="thumbnail">
            <h4 class="text-center"><span class="label label-info">{{p?.category?.name}}</span></h4>
            <img src={{p?.image}} class="img-responsive">
            <div class="caption">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <h3>{{p?.name}}</h3>
                    </div>
                    <div class="col-md-6 col-xs-6 price">
                        <h3>
                            <label>${{p?.price | number}}</label></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6 price">Category : {{p?.catName}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-success btn-product" (click)="addProduct(p)"><span
                                class="glyphicon glyphicon-shopping-cart"></span>
                            Buy</a></div>
                </div>
                <p></p>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <h3>Our Stores</h3>
    <div class="row">
        <div class="col-sm-8">
            <div id="map_canvas" style="width:100%; height:450px; border: 2px solid #3872ac;"></div>
        </div>
        <div class="col-sm-4">
            <h3>Most Recommended product by machine learning is</h3>
            <div class="thumbnail">
                <h4 class="text-center"><span class="label label-info">{{mlp?.category?.name}}</span></h4>
                <img src={{mlp?.image}} class="img-responsive">
                <div class="caption">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <h3>{{mlp?.name}}</h3>
                        </div>
                        <div class="col-md-6 col-xs-6 price">
                            <h3>
                                <label>${{mlp?.price | number}}</label></h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>